.cardclosed {
    width: 250px;
    height: 200px;
    border-width: 1rem;
    border-color: #005b99;
    border-top: 1px;
    border-bottom: 1px;
    background-color: rgb(52, 73, 101);
    color: white;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    padding-left: 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;

    margin-block-end: .25rem;
    margin-block-start: .25rem;
  }

.cardopen {
    width: 250px;
    height: 300px;
    border-width: 1rem;
    border-color: #005b99;
    border-top: 1px;
    border-bottom: 1px;
    background-color: lightgray;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    padding-left: 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    
  }
.cardbutton {
  color: #ff4f00;
  border-width: .1rem;
  border-color:  #ff4f00;
  border-style: solid;
  font-family: sans-serif;
  padding: .3rem .3rem .3rem .3rem;
}
  .linklist {
    margin-bottom: 0;
  }

  ul,li {
    margin-bottom: 0.1rem;
  }

  h1 {
    margin-bottom: .25rem;
  }
h2{
  color: #0075e1;
}
  h3, h4 {
    color: #0075e1;
  }