/*
*/
.cardclosed {
    width: 250px;
    height: 250px;
    border-width: 1rem;
    border-color: #005b99;
    background-color: rgb(52, 73, 101);
    color: white;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    padding-left: 1rem;
    --edge-radius: .3rem;
    border-radius: var(--edge-radius) var(--edge-radius) var(--edge-radius) var(--edge-radius);

    margin-block-end: .25rem;
    margin-block-start: .25rem;

    transition: 100ms;
  }

.cardopen{
  width: 250px;
    height: 250px;
    border-width: 1rem;
    border-color: #005b99;
    background-color: rgb(52, 73, 101);
    color: white;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    margin-bottom: .25rem;
    margin-top: .25rem;
    padding-left: 1rem;
    --edge-radius: .3rem;
    border-radius: var(--edge-radius) var(--edge-radius) var(--edge-radius) var(--edge-radius);

    margin-block-end: .25rem;
    margin-block-start: .25rem;

    transition: 100ms;
}
.cardbutton {
  color: #ff4f00;
  border-width: .1rem;
  border-color:  #ff4f00;
  border-style: solid;
  font-family: sans-serif;
  padding: .3rem .3rem .3rem .3rem;
  background-color: transparent;
}
  .linklist {
    margin-bottom: 0;
  }

  ul,li {
    margin-bottom: 0.1rem;
  }

  h1 {
    margin-bottom: .25rem;
  }
h2{
  color: #0075e1;
}
  h3, h4 {
    color: #0075e1;
  }