.cardclosed {
    width: 200px;
    height: 200px;
    border-width: 1rem;
    border-color: #005b99;
    border-top: 1px;
    border-bottom: 1px;
    background-color: white;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    
  }

.cardopen {
    width: 200px;
    height: 300px;
    border-width: 1rem;
    border-color: #005b99;
    border-top: 1px;
    border-bottom: 1px;
    background-color: white;
    float: left;
    overflow: hidden;
    margin-right: .25rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }